@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif+JP:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
/* logo and header elements */
#logo h2 h3{
    font-family: 'montserrat', "sans-serif";
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

#logo{
    float: left;
    margin: 10px 0 10px 20px;
}

body{
    font-weight: 300;
    font-size: 160%;
    font-family: "noto-serif", "sans-serif";
    color: #222222;
    letter-spacing: 3px;
}

/* navigation page links*/
#menu{
    font-size: 130%;
    letter-spacing: 2px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin: 10px 20px 10px 0;
}

#logo #menu{
    line-height: 80px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

menu:hover{
    border-bottom: 2px solid #414141;
}

/* bookshelf image */
#bookshelf{
    width: 100%;
    height: 600px;
}

/* table content */
tr{
    height: 100px;
    min-width: 80px;
}

th{
    border: 2px solid black;
    min-height: 80px;
    text-align: center;
    height: 20px;
}
td{
    border: 2px solid black;
}
.title-name{
    text-align: center;
}

/* footer styling rules */
footer{
    height:60px;
}
#social-media{
    text-align: center;
}
#social-media li{
    display: inline;
}
#copyright{
    text-align: end;
    font-size: 120%;
}
#social-media i{
    font-size:  50px;
    margin: 0 40px 0 40px;
    padding: 0 50px 0 50px;
    color: #414141;
}

/* life.html section */
#life-of-shakespeare{
    text-align: center;
    text-decoration: underline;
}