@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif+JP:wght@300&display=swap');

/* body element */
*{
    margin: 0;
    padding: 0;
    border: none;
}
/* logo and header elements */
#logo h2 h3{
    font-family: 'montserrat', "sans-serif";
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

#logo{
    float: left;
    margin: 10px 0 10px 20px;
}

body{
    font-weight: 300;
    font-size: 140%;
    font-family: "noto-serif", "sans-serif";
    color: #222222;
    letter-spacing: 3px;
}

/* navigation page links*/
#menu{
    font-size: 130%;
    letter-spacing: 2px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin: 27px 20px 10px 0;
}

#logo #menu{
    line-height: 80px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

menu:hover{
    border-bottom: 2px solid #414141;
}

/* bookshelf image */
#bookshelf{
    width: 100%;
    height: 600px;
}

/* plays stylings*/
#plays div{
    width: 30%;
    height: 700px;
    float: left;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
}

.shakespeares-works > h3{
    text-align: center;
    text-decoration: underline;
}

.genre-title{
    margin: 15px 15px 15px 15px;
}
.comedy{
    text-align: left;
    padding: 10px 0 0 10px;
 
}

.historical{
    text-align: left;
    padding: 10px 0 0 10px;
    font-size: 140%;
}

.tragedy{
    text-align: left;
    padding: 10px 0 0 10px;
 
}

/* footer styling rules */
footer{
    line-height: 80px;
}
#social-media{
    text-align: center;
}
#social-media > li{
    display: inline;
}
#social-media i{
    font-size:  50px;
    margin: 0 40px 0 40px;
    padding: 0 50px 0 50px;
    color: #414141;
}
#copyright{
    text-align: end;
    font-size: 50%;
    display: inline;
}

/* life.html section */
#life-of-shakespeare{
    text-align: center;
    text-decoration: underline;
    margin: 20px 0 10px 0;
}

.year{
    text-align: center;
    text-decoration: underline;
    margin: 10px 10px 0 10px;
}

.life-events{
    text-align: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
}

/* gallery section */

#gallery-images{
    clear: both;
    column-count: 2;
    column-gap: 0;
}

.images{
    width: 100%;
}